project_id = "hnzozzbnfougbcncdgrk"

[functions.create-vault]
verify_jwt = true

[functions.deposit-vault]
verify_jwt = true

[functions.create-collaborative-vault]
verify_jwt = true

[functions.deposit-collaborative-vault]
verify_jwt = true

[functions.invite-to-vault]
verify_jwt = true

[functions.request-vault-withdrawal]
verify_jwt = true

[functions.vote-withdrawal]
verify_jwt = true

[functions.initialize-client-account]
verify_jwt = true

[functions.apply-for-loan]
verify_jwt = true

[functions.approve-loan]
verify_jwt = true

[functions.disburse-loan]
verify_jwt = true

[functions.make-payment]
verify_jwt = true

[functions.open-cash-session]
verify_jwt = true

[functions.close-cash-session]
verify_jwt = true

[functions.validate-mobile-money-webhook]
verify_jwt = false

[functions.reconcile-mobile-money]
verify_jwt = true

[functions.request-subsidy]
verify_jwt = true

[functions.approve-subsidy]
verify_jwt = true

[functions.scheduled-tasks]
verify_jwt = false

[functions.generate-test-data]
verify_jwt = false

[functions.setup-admin-system]
verify_jwt = false

[functions.approve-sfd]
verify_jwt = true

[functions.reject-sfd]
verify_jwt = true

[functions.pin-auth-session]
verify_jwt = false
